
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    text-decoration: none;
}
.carousel {
    width: 100%;
    height: 20vh; /* El 20% de la altura de la pantalla */
    overflow: hidden;
    position: relative;
}

.carousel img {
    width: 14.2857%; /* Ancho para que quepan 7 imágenes a la vez */
    height: auto; /* Mantener la proporción de aspecto */
    object-fit: contain; /* Escalar la imagen para que quepa dentro del contenedor */
    position: absolute;
    transition: transform 0.5s ease; /* Animación suave al cambiar las imágenes */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para el encabezado */
header {
    background-color: #333; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto */
    padding: 10px 100px 10px 80px; /* Espaciado interno */
    display: flex; /* Mostrar elementos en línea */
    justify-content: space-between; /* Distribuir los elementos horizontalmente */
    align-items: center; /* Centrar verticalmente los elementos */
}

/* Estilos para el logo */
#logo {
    width: 500px; /* Ancho del logo */
    height: auto; /* Altura automática para mantener la proporción */
}

/* Estilos para la frase de la empresa */
#slogan {
display: flex;
align-items: center;
font-family: "Merriweather", serif;
font-weight: 300;
font-style: normal;

    
}
#sa{
    transform:translateY(0px)
}

/* Estilos para los botones de navegación */
nav {

    text-align: right; /* Alinear los botones a la derecha */
}

nav a {
    color: rgb(160, 194, 40);
    
    margin-left: 20px; /* Espacio entre los botones */
}
#botonesinicio{
    
        font-size: 30px;
        color: rgb(160, 194, 40);
        text-decoration: none;
        margin: 14px 30px;
    }
/*footer*/
.footer-creative{
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;padding: 20px 200px;
}
.footer-creative img{
    width: 300px;
}
.footer-creative h3{

    font-size: 30px;
    color: #007bff;
   
    
}
.footer-creative p{
    font-size: 20px;
    color: aliceblue;
}